<!DOCTYPE html>
<html>
    <head>
        <title>
            html5 rtmp demo
        </title>
        <style>video { width: 240px !important; height: 240px !important;}</style>
    </head>
    <body>
        <h1>{{ username }}'s stream</h1>
        <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
        <video id="video" height="240" width="340"></video>
        <!--suppress JSCheckFunctionSignatures -->
        <script>
            if (Hls.isSupported()) {
                try {
                    var video = document.getElementById('video');
                    var hls = new Hls();
                    hls.loadSource('http://{{ hostname }}/stream/{{ username }}.m3u8');
                    hls.attachMedia(video);
                    hls.on(Hls.Events.MANIFEST_PARSED, function () {
                        video.play();
                    });
                    hls.on(Hls.Events., function () {
                        video.hide();
                    })
                } catch (e) {
                    console.log(e);
                    alert('connection lost');
                }
            }
        </script>
    </body>
</html>
